@using Newlife.Models
@model Newlife.Models.AppointmentSlots
@{
    ViewBag.Title = "UpdateAppointmentDetails";
    Layout = "~/Views/Shared/DoctorLayout.cshtml";
}

<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                <li class="breadcrumb-item active"><a href="@Url.Action("Index", "Doctor")">Home</a></li>
            </ol>
        </div>
    </div>
    <!-- row -->
    @{
        var docInCookie = Request.Cookies["DocLogInfo"];
        string id = docInCookie["DoctorID"].ToString();
        NewlifeDBContext db = new NewlifeDBContext();
        var getclinicname = db.Clinicinfo.Where(x => x.DoctorID == id).ToList();

    }
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                            <form class="form-valide" action="/Doctor/UpdateAppointmentDetails" method="post">

                                <input type="hidden" name="Id" value="@Model.Id" />
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-username">
                                        Clinic Name <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" value="@Model.ClinicName" name="ClinicName">
                                    </div>
                                </div>



                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-email">
                                        Date <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control"  value="@Model.Date" name="Date">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-email">
                                        Time <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control"  value="@Model.Time" name="Time">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-currency">
                                        No of Slots Available <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" id="val-currency" value="@Model.AvailableSlots" name="AvailableSlots" placeholder="0.00">
                                    </div>
                                </div>

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" for="val-digits">
                                        Is Available <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <select name="Doctor_Availability" class="form-control">
                                            @{
                                                if (Model.IsAvailable == "1")
                                                {
                                                    <option value="@Model.IsAvailable">Booking Pending</option>
                                                }
                                                else
                                                {
                                                    <option value="0">Full Booked</option>
                                                }
                                            }
                                            <option value="1">Booking Pending</option>
                                            <option value="0">Full Booked</option>
                                        </select>
                                    </div>
                                </div>
                                <hr />
                                <input type="hidden" value="@Model.DoctorName" name="DoctorName" />
                                <input type="hidden" value="@Model.DoctorID" name="DoctorID" />
                               
                                <div class="form-group row">
                                    <div class="col-lg-8 ml-auto">
                                        <button type="submit" class="btn btn-primary">Update Form</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>

